<a href="https://colab.research.google.com/github/Davidarr96/Proyecto1_MLoperations/blob/main/Proyecto1_MLoperations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # PROYECTO INDIVIDUAL Nº1
   Machine Learning Operations (MLOps)

Propuesta de trabajo 

Transformaciones: Para este MVP no necesitas perfección, ¡necesitas rapidez! ⏩ Vas a hacer estas, y solo estas, transformaciones a los datos:

Algunos campos, como belongs_to_collection, production_companies y otros (ver diccionario de datos) están anidados, esto es o bien tienen un diccionario o una lista como valores en cada fila, ¡deberán desanidarlos para poder y unirlos al dataset de nuevo hacer alguna de las consultas de la API! O bien buscar la manera de acceder a esos datos sin desanidarlos.

Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0.

De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,vote_count,poster_path y homepage.

`PARA ESTE PROCESO, VAMOS A REALIZAR NUESTRO ETL RESPECTIVO DENTRO DE ESTE NOTEBOOK`

In [2]:
 # Vinculamos google colab con google drive para importar el dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
#Vamos a importar las librerias a utilizar 
import pandas as pd
import json
from pandas.io.json import json_normalize
import ast
import numpy as np

In [4]:
# Ingresamos los datasets y guardamos cada uno con una variable distinta
movies_df = pd.read_csv('/content/drive/MyDrive/Datasets_MLoperations/movies_dataset.csv',sep = ',', encoding = 'utf-8')

<ipython-input-4-bbdb91f04ea5>:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies_df = pd.read_csv('/content/drive/MyDrive/Datasets_MLoperations/movies_dataset.csv',sep = ',', encoding = 'utf-8')

# **TRANSFORMACIONES**

In [5]:
#Utilizamos una funcion para poder desanidar los datos dentro de los dicc y las listas
def fetch_name(obj): 
    if isinstance(obj, str) and '{' in obj:
        L=[]
        for i in ast.literal_eval(obj):
            L.append(i['name']);
        return L
    
def fetch_name2(obj): 
    
    if isinstance(obj, str) and '{' in obj:
        # print(obj)
        dic = ast.literal_eval(obj)

        return dic['name']
    

    

movies_df['genres'] = movies_df['genres'].apply(fetch_name)
movies_df['belongs_to_collection'] = movies_df['belongs_to_collection'].apply(fetch_name2)
movies_df['production_companies'] = movies_df['production_companies'].apply(fetch_name)
movies_df['production_countries'] = movies_df['production_countries'].apply(fetch_name)
movies_df['spoken_languages'] = movies_df['spoken_languages'].apply(fetch_name)
movies_df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,Toy Story Collection,30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,False,7.7,5415.0
1,False,None,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,Grumpy Old Men Collection,0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,None,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,[English],Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,Father of the Bride Collection,0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,[English],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,None,0,"[Drama, Family]",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,[فارسی],Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,None,0,[Drama],NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,[],Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,None,0,"[Action, Drama, Thriller]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,[English],Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,None,0,None,NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,None,Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,None,0,None,NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,[English],Released,NaN,Queerama,False,0.0,0.0

In [6]:
# Rellenar los valores nulos de 'revenue' y 'budget' con el número 0
movies_df['revenue'] = movies_df['revenue'].fillna(0)
movies_df['budget'] = movies_df['budget'].fillna(0)

In [8]:
# Los valores nulos del campo relase_date deben eliminarse
movies_df = movies_df.dropna(subset=['release_date'])

In [9]:
# Convertir la columna release_date a formato fecha
movies_df['release_date'] = pd.to_datetime(movies_df['release_date'], errors='coerce')

# Crear la columna release_year con el año de estreno
movies_df['release_year'] = movies_df['release_date'].dt.year

# Formatear la columna release_date como AAAA-mm-dd
movies_df['release_date'] = movies_df['release_date'].dt.strftime('%Y-%m-%d')

In [17]:
#Creamos la columna llamada "return" dividiendo la columna "revenue" por la columna budget.
#Para poder realizarlo correctamente, como primera condicion nos aseguramos que los datos sean del mismo tipo.
movies_df['revenue'] = movies_df['revenue'].astype(float)

In [18]:
#Encontramos valores no numeros en el campo "budget", para solucionar esto convertimos esos str a 0.
# Definir una función que convierta los valores a float
def convertir_a_float(valor):
    if isinstance(valor, str):
        # Si el valor es un string, intentar convertirlo a float
        try:
            return float(valor)
        except ValueError:
            # Si no se puede convertir, devolver cero
            return 0.0
    else:
        # Si el valor no es un string, devolverlo sin cambios
        return valor

# Aplicar la función al campo 'budget'
movies_df['budget'] = movies_df['budget'].apply(convertir_a_float)

In [19]:
#Una vez que los campos tienen el mismo tipo, creamos la columna "return"

# reemplazar valores nulos por 0
movies_df['revenue'] = movies_df['revenue'].fillna(0)
movies_df['budget'] = movies_df['budget'].fillna(0)

# definir la función para calcular el retorno de inversión
def calculate_return(row):
    if row['budget'] == 0:
        return 0
    else:
        return row['revenue'] / row['budget']

# crear la columna 'return' utilizando la función apply
movies_df['return'] = movies_df.apply(calculate_return, axis=1)

In [20]:
#Eliminamos las columnas que no vamos a utilizar:[video, imdb_id, adult, original_title, vote_count, poster_path, homepage]
movies_df = movies_df.drop(['video', 'imdb_id', 'adult', 'original_title', 'vote_count', 'poster_path', 'homepage'], axis=1)

In [22]:
# Guardamos el csv, para posterior utilizarlo en nuestra API
movies_df.to_csv('/content/drive/MyDrive/Datasets_MLoperations/data_movies.csv', index = False)